body {
  color: #000000;
  font-face: Verdana, Arial, Helvetica, sans-serif; font-family:²Ó©úÅé; font-size:10pt}


h1 {
  color: #dd0000;
  background: transparent;
  text-valign: middle;
  text-align: center;
  font-size: 20px;
  font-family: Albertus Medium, sans-serif;
  letter-spacing: 4px
}

pre,td {
		font: 12px Verdana, Arial, Helvetica, sans-serif;
		margin:0px;
		}
		
:first-letter.myparagraph {
		font-size:200%;
		float:left;
		color:darkred;
		font-style: normal;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		}


		
a:hover { color : red;
		  background: #EEEE99;
		  text-decoration: none
		}
		
a:link {
		  COLOR: #349082;;
		  background: transparent;
		  text-decoration: none
		}
		
a:visited {
		  COLOR: #3469c2;;
		  background: transparent;
		  text-decoration: none
		}
		
a:active {
		  color: #550057;
		  background: #EEEE99;
		  text-decoration: none
		}


.maindiv {
border-left : 1px dotted #CCCCCC;}

.rightdiv {
		border-right : 1px dotted #CCCCCC;
border-left : 1px dotted #CCCCCC;}

#contentright p { font-size:12px}
