TD {
	COLOR: #600000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
TH {
	COLOR: #600000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.normal {
	COLOR: #600000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.medium {
	FONT-SIZE: 1.4em; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.big {
	FONT-SIZE: 2em
}
A:link {
	COLOR: #000060
}
A:hover {
	COLOR: #ffcc33; BACKGROUND-COLOR: #600000
}
A:visited {
	COLOR: #006060
}
A:active {
	COLOR: #ff0000
}
BODY {
	BACKGROUND: #ffcc33
}
.red {
	COLOR: red
}
.blue {
	FONT-SIZE: 1.3em; COLOR: blue
}
.categ {
	FONT-SIZE: 1.1em
}
.tiny {
	FONT-SIZE: 0.8em
}
.title {
	FONT-SIZE: 1.8em
}
