         BODY, TD {  
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size: 10px;
        }
        
      .txt {
        font-family: Georgia, Times, serif;
        font-size: 14px;
        }
        
        .cab {
        font-family: Georgia, Times, serif;
        font-size : large;
        }
        
        .min {
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size: 10px;
        }
        
        .in {
        color: Red;
        font-size : 130%;
        }
        
        .neu {
       	color: Yellow;
       	font-weight : bold;
       	background-color : Red;
       }
