vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|17 Oct 2008 17:02:06 -0000
vti_extenderversion:SR|5.0.2.6417
vti_backlinkinfo:VX|index/Web\\ Hymnology/教會音樂事奉的角色.htm
vti_author:SR|hlcheng\\hlche
vti_modifiedby:SR|hlcheng\\hlche
vti_timecreated:TR|17 Oct 2008 17:02:06 -0000
vti_lineageid:SR|{98C33231-0389-4E11-8D1F-E6341E2626C8}
vti_cacheddtm:TX|17 Oct 2008 17:02:06 -0000
vti_filesize:IR|5792
